@import "../../styles/variables";

.LoginHome {
  &__container {
    /* border: solid red 3px; */
    width: 100%;
    padding: 0 2rem;
    @media (min-width: $tabletMin) {
      /* font-size: 4rem; */
      /* flex-direction: row; */
      /* padding: 0 2rem; */
      /* justify-content: space-between; */
      margin: 0 2rem 6rem 2rem;
    }
  }
  &__image {
    border: solid green 3px;
    width: 100%;
  }
}
