@import "../../styles/variables";

.Footer {
  &__container {
    border: solid 3px purple;
    background-color: $footer-blue;
    color: white;
    font-family: $PNSemi;
    width: 100%;
    margin: 64px 0 0 0;
    display: flex;
    flex-direction: column;
    padding: 19px 33px 45px 33px;

    @media (min-width: $tabletMin) {
      padding: 47px;
      flex-direction: column;
    }
    &__content{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media (min-width: $tabletMin) {
        flex-direction: row;
        margin: 64px 0 13px 0;
      }
    }
  }

  &__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    @media (min-width: $tabletMax) {
      width: 80%;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 3rem;
      margin: 4rem 0 0 4rem;
    }
    @media (min-width: $laptopMin) {
      padding: 0;
      margin: 2rem 0 0 4rem;
      justify-content: space-around;
    }
    &__Service {
      padding: 0;
      margin: 0 0 2em 0;
      @media (min-width: $laptopMin) {
        padding: 0 72px 0 0;
        border-right: 1px solid white;
      }
    }
    &__Company {
      padding: 0;
      margin: 0 0 2em 0;
      @media (min-width: $laptopMin) {
        width: 35%;
      }
    }
  }
  &__left {
    width: 100%;
    padding: 0;
    margin: 25px 0 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media (min-width: $tabletMin) {
      justify-content: space-between;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
    }
    @media (min-width: $laptopMin) {
      width: 30%;
    }
    &__logo {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0 0 20px 0;
    }
    &__social {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
      flex-wrap: nowrap;
      text-align: center;
      .socialIcons {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        margin: 1rem 0 0 0;
        position: relative;
        @media (min-width: $tabletMin) {
          margin: 0 0 0 1rem;
        }
        &__logos {
          cursor: pointer;
          position: relative;
        }
      }
    }
  }
  &__title {
    font-size: 36px;
    padding: 0;
    margin: 0 0 1rem 0;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0 0 0 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @media (min-width: $laptopMin) {
      display: flex;
    }
    &__options {
      width: max-content;
      padding: 0px;
      margin: 0;
      &::before {
        content: "\2022";
        color: $orange;
        display: inline-block;
        width: 0.5em;
        font-size: 24px;
      }
    }
  }
  &__links {
    width: 100%;
    text-decoration: none;
    color: inherit;
    padding: 0px;
    margin: 0;
  }
  &__legal {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: $PNThin;
  }
}
