@import "../../styles/variables";

.Feelings {
  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    @media (min-width: $tabletMin) {
      /* font-size: 4rem; */
      /* flex-direction: row; */
      /* padding: 0 2rem; */
      /* justify-content: space-between; */
      margin: 0 2rem 6rem 2rem;
    }
  }
  &__title {
  }
  &__cardsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media (min-width: $tabletMin) {
      flex-direction: row;
      height: 15.4rem;
      margin: 0 0 13rem 0;
    }
    @media (max-width: $tabletMin) {
      display: none;
    }
  }
  &__cards {
    width: 100%;
    margin: 0;
    padding: 0;
    &__figure {
      min-height: 135px;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    &__hover {
      padding: 10px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &__text {
        font-family: $PNSemi;
        font-size: 1em;
        text-align: center;
      }
    }
    &__img {
      width: 100%;
      min-height: 135px;
    }
    &__msgBelow {
      font-family: $PNSemi;
      font-size: 1em;
      text-align: center;
    }
  }
  &__button {
    border: 1px solid $light-blue;
    border-radius: 4px;
    background-color: $green;
    color: white;
    margin: 30px auto;
    padding: 6px 17px;
    font-family: $PNSemi;
    font-size: 1.3rem;
    cursor: pointer;
  }
}
