@import "../../styles/variables";

.Calculator {
  &__container {
    /* border: solid red 5px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    @media (min-width: $tabletMin) {
      /* font-size: 4rem; */
      /* flex-direction: row; */
      /* padding: 0 2rem; */
      /* justify-content: space-between; */
      margin: 0 2rem 2.5rem 2rem;
    }
  }
  &__title {
  }
  &__image {
  }
}
