@import "../../styles/variables";

.FactsFigures {
  &__container {
    /* border: solid red 3px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    @media (min-width: $tabletMin) {
      /* font-size: 4rem; */
      /* flex-direction: row; */
      /* padding: 0 2rem; */
      /* justify-content: space-between; */
      margin: 0 2rem 2.5rem 2rem;
    }
  }
  &__title {
  }
  &__facts {
    &__box {
    }
  }
  &__image {
  }
  &__btn {
    border: 1px solid $light-blue;
    border-radius: 4px;
    background-color: $green;
    color: white;
    margin: 10px auto;
    padding: 6px 17px;
    font-family: $PNSemi;
    cursor: pointer;
    font-size: 1.3em;
  }
}
